body {
  background-color: #f5f5f5;
}
a {
  color: #1e1e1e;
  text-decoration: none;
}
nav {
  background-color: #000000e8;
}
.dropdown-toggle2::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
header {
  background-image: url(../img/hero-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
p.animation::after {
  content: "";
  animation: typing 10s infinite;
  -webkit-animation: typing 10s infinite;
}
@keyframes typing {
  0% {
    content: "D|";
  }
  1% {
    content: "De";
  }
  2% {
    content: "Des|";
  }
  3% {
    content: "Desi";
  }
  4% {
    content: "Desig|";
  }
  5% {
    content: "Design";
  }
  6% {
    content: "Designe|";
  }
  7% {
    content: "Designer";
  }
  8% {
    content: "Designe|";
  }
  9% {
    content: "Design";
  }
  10% {
    content: "Desig|";
  }
  11% {
    content: "Desi";
  }
  12% {
    content: "Des|";
  }
  13% {
    content: "De";
  }
  14% {
    content: "D|";
  }
  15% {
    content: "D";
  }
  16% {
    content: "F|";
  }
  17% {
    content: "Fr";
  }
  18% {
    content: "Fre|";
  }
  19% {
    content: "Free";
  }
  20% {
    content: "Freel|";
  }
  21% {
    content: "Freela";
  }
  22% {
    content: "Freelan|";
  }
  23% {
    content: "Freelanc";
  }
  24% {
    content: "Freelance|";
  }
  25% {
    content: "Freelancer";
  }
  26% {
    content: "Freelance|";
  }
  27% {
    content: "Freelanc";
  }
  28% {
    content: "Freelan|";
  }
  29% {
    content: "Freela";
  }
  30% {
    content: "Freel|";
  }
  31% {
    content: "Free";
  }
  32% {
    content: "Fre|";
  }
  33% {
    content: "Fr";
  }
  34% {
    content: "F|";
  }
  35% {
    content: "F";
  }
  37% {
    content: "D|";
  }
  39% {
    content: "De";
  }
  41% {
    content: "Dev|";
  }
  43% {
    content: "Deve";
  }
  45% {
    content: "Devel|";
  }
  47% {
    content: "Develo";
  }
  49% {
    content: "Develop|";
  }
  51% {
    content: "Develope";
  }
  53% {
    content: "Developer|";
  }
  55% {
    content: "Develope";
  }
  57% {
    content: "Develop|";
  }
  59% {
    content: "Develo";
  }
  61% {
    content: "Devel|";
  }
  63% {
    content: "Deve";
  }
  65% {
    content: "Dev|";
  }
  67% {
    content: "De";
  }
  69% {
    content: "D|";
  }
  71% {
    content: "D";
  }
  72% {
    content: "P|";
  }
  73% {
    content: "Ph";
  }
  74% {
    content: "Pho|";
  }
  75% {
    content: "Phot";
  }
  76% {
    content: "Photo|";
  }
  77% {
    content: "Photog";
  }
  78% {
    content: "Photogr|";
  }
  79% {
    content: "Photogra";
  }
  80% {
    content: "Photograp|";
  }
  81% {
    content: "Photograph";
  }
  82% {
    content: "Photographe|";
  }
  83% {
    content: "Photographer";
  }
  84% {
    content: "Photographe|";
  }
  85% {
    content: "Photograph";
  }
  86% {
    content: "Photograp|";
  }
  87% {
    content: "Photogra";
  }
  88% {
    content: "Photogr|";
  }
  89% {
    content: "Photog";
  }
  90% {
    content: "Photo|";
  }
  92% {
    content: "Phot";
  }
  94% {
    content: "Pho|";
  }
  96% {
    content: "Ph";
  }
  98% {
    content: "P|";
  }
  100% {
    content: "P";
  }
}
.fs-72 {
  font-size: 4.5rem;
}
header .title {
  background-color: #0000009c;
}

.box-shadow-full {
  padding: 4rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}
.skill span {
  color: #4e4e4e;
}
.progress,
.progress-stacked {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  height: 0.7rem;
  margin: 0.5rem 0 1.2rem 0;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.title-box {
  margin-bottom: 3rem;
}
.title-left {
  font-size: 2rem;
  position: relative;
}
.title-left::before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #0078ff;
  position: absolute;
  bottom: -12px;
}
.services-title::before {
  content: "";
  width: 50px;
  height: 5px;
  background-color: #0078ff;
  position: absolute;
  bottom: -12px;
}
.icons span {
  outline: 10px solid #0078ff;
  width: 100px;
  height: 100px;
  padding: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 0.5s, color 0s;
  -webkit-transition: background-color 0.5s, color 0s;
  -moz-transition: background-color 0.5s, color 0s;
  -ms-transition: background-color 0.5s, color 0s;
  -o-transition: background-color 0.5s, color 0s;
}
.services .container .row .box-shadow-full:hover .icons span.ico-circle {
  background-color: #0078ff;
  outline-color: #0077ff2e;
  color: white;
}
.back-to-top {
  width: 40px;
  height: 40px;
  background-color: #0078ff;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 33333;
}
.counter {
  background-image: url(../img/counters-bg.jpg);
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.counter .ico-circle {
  width: 80px;
  height: 80px;
  border: 10px solid #cde1f8;
}
.counter .ico-circle i {
  font-size: 2rem;
}
.ovely {
  opacity: 0.7;
}
.z-index {
  z-index: 200;
}
.w-title {
  font-size: 1.2rem;
}
.fs-08 {
  font-size: 0.8rem;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.protfolio-icon {
  border-style: solid;
  width: 40px;
  height: 40px;
}
.card-protfolio,
.box-shadow {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-protfolio:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.card-protfolio img {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  cursor: pointer;
}
.testimonials {
  background-image: url(../img/overlay-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 8rem 0;
}
.testimonial-box .author-test {
  margin-top: 1rem;
}
.content-test {
  padding: 0 8rem;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.card-body h3.card-title {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  cursor: pointer;
}
.card-body h3.card-title:hover {
  color: #0078ff;
}
.card-description {
  color: #4e4e4e;
}
.blog .travel::before {
  content: "travel";
  color: #fff;
  padding: 0 15px 3px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
  position: absolute;
  bottom: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11.2px;
}
.blog .WEB-DESIGN::before {
  content: "WEB DESIGN";
  color: #fff;
  padding: 0 15px 3px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
  position: absolute;
  bottom: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11.2px;
}
.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}
section.contant {
  background-image: url(../img/overlay-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding: 8rem 0;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.contant .contant-mf {
  margin-top: 4rem;
}
.contant .contant-mf .contant-box {
  padding: 3rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.contant .contant-mf .contant-box .button button {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contant .contant-mf .contant-box .button button:hover {
  background: #2d8cf8;
  outline: 4px solid #0077ff2e;
}
section.contant .container h2.title::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0078ff;
  width: 100px;
  bottom: -12px;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul li span i {
  color: #0078ff;
}
.list-ico {
  line-height: 2;
}
.social-icon {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  outline: 3px solid #0078ff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.social-icon:hover {
  background-color: #0078ff;
  outline-color: #0077ff2e;
  color: white;
}
footer {
  padding: 25px 0;
  background: #0062d3;
}
